<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <title>Lance Up</title>
</head>

<body>
  {{{body}}}
</body>

</html>
